* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.navbar {
  position: sticky;
  top: 0;
}

.sm-navlink {
  padding: 0.4rem 0.8rem;
}

.md-navlink {
  padding: 0.4rem 0.8rem;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.md-navlink:hover {
  background-color: rgb(255 129 129 / 67%);
  color: black;
  border-radius: 14px;
  text-decoration: underline;
}

@media (min-width: 768px) {

  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

}